@font-face {
    font-family: Kumbh-Sans, sans-serif;
    src:
        url("/fonts/KumbhSans-Regular.woff2") format("woff2"),
        url("/fonts/KumbhSans-Regular.woff") format("woff"),
        url("/fonts/KumbhSans-VariableFont_wght.ttf") format("truetype");
}

/*
    name and stats: 18px
    weights: 400,700
*/

* {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: Kumbh-Sans, sans-serif;
}

:root {
    --dark-cyan: hsl(185deg 75% 39%);
    --very-dark-saturated-blue: hsl(229deg 23% 23%);
    --dark-grayish-blue: hsl(277deg 10% 46%);
}

.container-absolute {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-absolute {
    position: absolute;
    overflow: hidden;
    width: inherit;
    height: inherit;
    background-color: var(--dark-cyan);
}

.card-container {
    border-radius: 15px;
    overflow: hidden;
    z-index: 5;
    margin: 5px;
}

.background-card {
    position: relative;
    height: 140px;
    max-width: inherit;
}

.pattern-top {
    position: relative;
    width: 60%;
    left: -300px;
    top: -300px;
}

.patter-bottom {
    position: absolute;
    width: 60%;
    right: -300px;
    bottom: -300px;
}

.img-profile {
    position: absolute;
    border: 5px solid #fff;
    border-radius: 50%;
    left: calc(50% - 48px);
    top: calc(100% - 48px);
}

.profile-container {
    background-color: #fff;
    padding-top: 80px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.name {
    font-size: 18px;
    color: var(--very-dark-saturated-blue);
}

.age {
    font-size: 18px;
    font-weight: 400;
    font-family: Kumbh-Sans, sans-serif;
    color: var(--dark-grayish-blue);
}

.location {
    font-weight: 400;
    color: var(--dark-grayish-blue);
    font-size: 0.8em;
}

.stats-container {
    margin-top: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    border-top: 1px solid var(--dark-grayish-blue);
}

.stat-item {
    margin: 20px;
}

.stat-item > p:first-child {
    text-transform: uppercase;
    font-weight: 700;
}

.stat-item > p:nth-child(2) {
    color: var(--dark-grayish-blue);
    font-size: 0.7em;
}

@media screen and (max-width: 450px) {
    .pattern-top {
        left: -200px;
        top: -200px;
        width: 100%;
    }

    .patter-bottom {
        right: -200px;
        bottom: -200px;
        width: 100%;
    }
}
